{
	"extends": "./node_modules/@romtrooper/lint",
	"env": {
		"browser": true,
		"node": true
	},
	"rules": {
		"no-unused-vars": "off",
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
		"@typescript-eslint/interface-name-prefix": "off",
		"@typescript-eslint/explicit-function-return-type": "off"
	}
}
