.Header {
  height: 8vh;
  /* background: #1b1c1d; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header-button {
  margin-left: 36px !important;
}

.Header-search {
  margin-right: 36px !important;
}
